head
  link(rel="stylesheet", href="/style.css")  
body
  a(href="/users")
    h1 LIBRARY

  form(action="/users/search",method="GET")
    input(type="name", name="q")
    button SEARCH

  ul
    each user in users
      li
        span= user.name
        span 
        button
          a(href="/users/" + user.id + "/delete") DELETE
        button
          a(href="/users/" + user.id + "/update") UPDATE

  button
    a(href="/users/create") ADD USER


